@font-face {
  font-family: TT Wellingtons Trial Regular;
  src: url(/bookingsys/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Regular.otf);
}

@font-face {
  font-family: TT Wellingtons Trial Bold;
  src: url(/bookingsys/system/templates/system/Fonts/TT\ Wellingtons\ Trial\ Bold.otf);
}
body {
  background-color: white;
  font-family:TT Wellingtons Trial Regular ;
}
nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 float: right;
  right: 0; 
}
nav ul {
  /* list-style: none; */
  margin: 0;
  padding: 0;
  display: flex;
} 
    
nav ul li {
  margin: 0 20px;
  
  padding: 0px 10px;
  color:black;
  border-radius: 5px;
}
    
nav ul li a {
  /* text-decoration: none; */
  font-size: 18px;
}     
  
/* .signup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: red;
  width: 700px;
  height: auto;
  border-radius: 14px;
  margin-left: 100px;
  padding-top: 30px;
  background-color: white;}
   */

  
h1 {
  font-family: TT Wellingtons Trial Bold;  
  padding-top: 15px;
  font-weight: 900;
}
  
h4 {
  text-align: center;
}
  
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  /* justify-content: center; */
  border-radius: 10px;
  background-color: blue;
  /* padding: 10px 10px 10px 70px; */
   
}
form p{
  font-size: 17px;
}  
  
label {
  margin-top: 20px;
  font-size: 18px;
    
}

  
input[type=text], input[type=email], select{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type=password]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
input[type=date]{
  width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
.first-button{
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background: linear-gradient(to bottom, rgb(232, 9, 9) 0%, #350606 100%);
  color: white;
  font-size: 18px;
  margin-left: 20%;
  border-radius: 5px;
  cursor: pointer;
}
.policy{
  margin-left: 30px;
  padding-top: 20px;
  font-size: 15px;
}

.hero {

  background: linear-gradient(to right, rgb(104, 104, 104), rgb(248, 241, 241) 100%);
  color: beige;
  height: 80px;
  padding: 10px 0px 0 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden; 
  top: 0;
  position: sticky;
  width: 100%;
} 
   
footer {
	background-color: #f5f5f5;
	padding: 0px;
	text-align: center;
	width: 100%;
	
  }
  .fa {
	padding: 10px;
	font-size: 20px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
  }
  
  .fa:hover {
	  opacity: 0.7;
  }
  
  .fa-facebook {
	background: #3B5998;
	color: white;
  }
  
  .fa-twitter {
	background: #55ACEE;
	color: white;
  }
 