
body{
    background-color: white ;
}
.log-in{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    /* justify-content: center; */
    border-radius: 10px;
    background-color: rgb(239, 238, 238);
    /* padding: 10px 10px 10px 70px; */
    margin: auto;
    height: 50vh;
     
  }
  input{
    margin-top: 30px;
    border-color: gray;
    border-radius: 6px;
    height: 20px;
    
  }
  label{
    color: black;
   
  }
  .btnsubmit{
    background-color:darkslateblue;
    width:100px;
    height: 30px;
    color: #fff;
    
  }
  .link{
    text-decoration: none;
    color: blue;
  }