<!DOCTYPE html>
<html lang="en">
<body>
    <h2>Blood Request Notification</h2>
    <p>Dear Blood Heroe,</p>
    <p>A new blood request has been submitted with the following details:</p>
    <p>First Name: {{ blood_request.first_name }}</p>
    <p>Last Name: {{ blood_request.last_name }}</p>
    <p>Blood Type: {{ blood_request.blood_type }}</p>
    <p>Contact Number: {{ blood_request.contact_number }}</p>
    <p>Location: {{ blood_request.location }}</p>
    <p>Additional Information: {{ info }}</p>
    <p>Thank you!</p>
</body>
</html>