
body{
    background-color:white ;
}

.register{
    width: 550px;
    height: 780px;
    border-radius: 15px;
    margin: auto;
    background-color: white;
    border: solid 1px black;

}

form {
    width: 300px;
    margin-left: 80px;
    /* float: inline-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    /* justify-content: center; */
    /* border-radius: 10px;
    background-color: rgb(248, 244, 244); */
    /* padding: 10px 10px 10px 70px; */
    /* margin: auto;
    height: 135vh;
    margin-top: -120px; */ 
     
}
form input{
    width: 110%;
    padding: 6px;
    /* border: none; */
    /* outline: none; */
    border: 1px solid gray;
    border-radius: 6px;
    height: 20px;
    
}
form label{
    /* display: flex; */
    /* align-items: right; */
    color: black;
    
    font-size: 18px;
    margin-top: 8px;
   
}
.btnsubmit{
  background-color:darkslateblue;
  width:120pxpx;
  height: 40px;
  color: #fff;
  
    
}
  .link{
    text-decoration: none;
    color: antiquewhite;
  }
  .terms{
    color: black;
    text-align: center;
    font-size: 15px;
    margin-left: 0;
    margin-top: -2px;
    margin-bottom: 10px;
    
}
.terms a{
    color: blue;

}
.already{
    text-align: center;
    color: black;
    font-size: 18px;
    margin-left: -200px;
}
.already a{
    color: blue;
}
