body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background: linear-gradient(to bottom, rgb(232, 9, 9) 0%, #790b42 100%);
}

header {
	background-color: #fff;
	padding: 1px;
	position: fixed;
	width: 100%;
	
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	
}

nav ul li {
	margin: 0 20px;
	
	padding: 0px 10px;
	color: #fff;
	border-radius: 5px;
}

nav ul li a {
	
	text-decoration: none;
	font-size: 18px;
}

.log-in {
	display: flex;
	align-items: center;
	padding: 20px;
}


.log-in a {
	margin-left: 20px;
	background: linear-gradient(to bottom, rgb(232, 9, 9) 0%, #790b42 100%);
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 16px;
}

.hero {
	background-image: url();
	background-size: cover;
	height: 320px;
	display: flex;
	align-items: center;
}

.hero-text {
	color: #fff;
	padding: 10px;
}

.hero-text h1 {
	font-size: 70px;
	margin: 0;
}

.hero-text p {
	font-size: 30px;
	margin: 0;
}

.donation-info {
	background-color: beige;
	padding: 50px;
}

.donation-info h2 {
	font-size: 40px;
	margin: 0;
}

.donation-info p {
	font-size: 18px;
	line-height: 1.5;
	
}
.get_answers{
	padding: 10px 20px;
	border-radius: 5px;
	background: linear-gradient(to bottom, rgb(232, 9, 9) 0%, #350606 100%);
	color: white;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	border: 0;
	
}
.container{
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.center:hover{
	outline-color: transparent;
	outline-style: solid;
	box-shadow: 0 0 0 4px crimson;
	transition: 0.7s;
}
input[type=text],input[type=email]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
form{
	width: 50%;
	padding: 10px 10px 10px 150px;
}
.center{
	display: flex;
	justify-content: center;
	align-items: center;
}