{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <link rel ="stylesheet" href="{% static 'css/login.css' %}">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
{% block content %}
  <body > 
    <div class="log-in">
      {% comment %} <h1>Log In</h1> {% endcomment %}
      {% if forms.errors %}
        <p>Your Username and Password didn't match.<br>Please try again</p>
      {% else %}  
        {% comment %} <p>Please, use the following form to log-in:</p> {% endcomment %}
        <p> If you don't have an account <a class="link" href="{% url "register" %}">register here</a></p>
      {% endif %}  
    </div>
    
     <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name = "next" value="{{ next }}"/>
      <p><input type="submit" class="btnsubmit" value="Log in"></p>
      <p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
     </form>
    
{% endblock %}
</html>