<!-- Login Modal -->
<div id="loginModal" class="modal">
    <div class="modal-content-login">
        <span class="close-modal" onclick="closeloginModal()">&times;</span>
        <div class="login">
            <div class="form-header">
                <div class="blood-hero-badge">
                    <i class="fa fa-heart"></i>
                    Welcome Back, Blood Hero
                </div>
                <p>Access your donor profile and continue your life-saving journey</p>
            </div>

            {% if form.errors %}
            <div class="form-group">
                <ul class="errorlist">
                    <li>Your username and password didn't match. Please try again.</li>
                </ul>
            </div>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />

                <div class="login-form-container">
                    <div class="form-group-login">
                        <label for="id_username">Username</label>
                        <input type="email" id="id_username" name="id_username" placeholder="id_username" required>
                    </div>

                    <div class="form-group-login">
                        <label for="id_password">Password</label>
                        <input type="password" id="id_password" name="id_password" required>
                    </div>
                </div>


                <div class="forgot-password">
                    <a href="#">Forgotten your password?</a>
                </div>

                <div class="button-items">

                    <input type="submit" class="btnsubmit-login" value="🩸 Login">
                    <div>
                        <p class="already">Don't have an account? <a href="#" onclick="openRegisterModal()"><i
                                    class="fa fa-user-plus"></i> Register</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Register Modal -->
<div id="registerModal" class="modal">
    <div class="modal-content">
        <span class="close-modal" onclick="closeregisterModal()">&times;</span>
        <div class="register">
            <div class="form-header">
                <div class="blood-hero-badge">
                    <i class="fa fa-heart"></i>
                    Create Your Account and Become a Blood Hero
                </div>
                <p>Join our community of life-savers and help save lives through blood donation</p>
            </div>
            {% if user_form.errors %}
            <div class="form-group">
                <ul class="errorlist">
                    {% for field, errors in user_form.errors.items %}
                    {% for error in errors %}
                    <li>{{ field }}: {{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
                {% endif %}

                <form method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    <div class="form-grid">

                        <div class="form-group">
                            <label for="fname">Full Name</label>
                            <input type="text" id="names" name="names" value="{{ post_data.names|default:'' }}"
                                placeholder="Your full name..." required>
                            {% if user_form.errors.names %}
                            <div class="form-error">{{ user_form.errors.names.0 }}</div>
                            {% endif %}

                        </div>
                        <div class="form-group">
                            <label for="fname">Username</label>
                            <input type="text" id="username" name="username" value="{{ post_data.username|default:'' }}"
                                placeholder="Your username..." required>
                            {% if user_form.errors.names %}
                            <div class="form-error">{{ user_form.errors.username.0 }}</div>
                            {% endif %}

                        </div>


                        <div class="form-group">
                            <label for="birthday">Date of birth</label>
                            <input type="date" id="birthday" name="birthday" required>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" value="{{ post_data.email|default:'' }}"
                                placeholder="user@gmail.com" required>
                            {% if user_form.errors.email %}
                            <div class="form-error">{{ user_form.errors.email.0 }}</div>
                            {% endif %}

                        </div>

                        <div class="form-group">
                            <label for="phone_no">Phone Number</label>
                            <input type="number" id="phone_no" name="phone_no" placeholder="" required>
                        </div>

                        <div class="form-group">
                            <label for="city">City</label>
                            <select id="city" name="city" required>
                                <option value="city">Select your city</option>
                                <option value="Baragoi">Baragoi</option>
                                <option value="Bungoma">Bungoma</option>
                                <option value="Busia">Busia</option>
                                <option value="Butere">Butere</option>
                                <option value="Dadaab">Dadaab</option>
                                <option value="Diani Beach">Diani Beach</option>
                                <option value="Eldoret">Eldoret</option>
                                <option value="Emali">Emali</option>
                                <option value="Embu">Embu</option>
                                <option value="Garissa">Garissa</option>
                                <option value="Gedi">Gede</option>
                                <option value="Hola">Hola</option>
                                <option value="Homa Bay">Homa Bay</option>
                                <option value="Isiolo">Isiolo</option>
                                <option value="Kitui">Kitui</option>
                                <option value="Kibwezi">Kibwezi</option>
                                <option value="Kajiado">Kajiado</option>
                                <option value="Kakamega">Kakamega</option>
                                <option value="Kakuma">Kakuma</option>
                                <option value="Kapenguria">Kapenguria</option>
                                <option value="Kericho">Kericho</option>
                                <option value="Keroka">Keroka</option>
                                <option value="Kiambu">Kiambu</option>
                                <option value="Kilifi">Kilifi</option>
                                <option value="Kisii">Kisii</option>
                                <option value="Kisumu">Kisumu</option>
                                <option value="Kitale">Kitale</option>
                                <option value="Lamu">Lamu</option>
                                <option value="Langata">Langata</option>
                                <option value="Litein">Litein</option>
                                <option value="Lodwar">Lodwar</option>
                                <option value="Lokichoggio">Lokichoggio</option>
                                <option value="Londiani">Londiani</option>
                                <option value="Loyangalani">Loyangalani</option>
                                <option value="Machakos">Machakos</option>
                                <option value="Makindu">Makindu</option>
                                <option value="Malindi">Malindi</option>
                                <option value="Mandera">Mandera</option>
                                <option value="Maralal">Maralal</option>
                                <option value="Marsabit">Marsabit</option>
                                <option value="Meru">Meru</option>
                                <option value="Mombasa">Mombasa</option>
                                <option value="Moyale">Moyale</option>
                                <option value="Mumias">Mumias</option>
                                <option value="Muranga">Muranga</option>
                                <option value="Mutomo">Mutomo</option>
                                <option value="Nairobi">Nairobi</option>
                                <option value="Naivasha">Naivasha</option>
                                <option value="Nakuru">Nakuru</option>
                                <option value="Namanga">Namanga</option>
                                <option value="Nanyuki">Nanyuki</option>
                                <option value="Naro Moru">Naro Moru</option>
                                <option value="Narok">Narok</option>
                                <option value="Nyahururu">Nyahururu</option>
                                <option value="Nyeri">Nyeri</option>
                                <option value="Ruiru">Ruiru</option>
                                <option value="Shimoni">Shimoni</option>
                                <option value="Takaungu">Takaungu</option>
                                <option value="Thika">Thika</option>
                                <option value="Vihiga">Vihiga</option>
                                <option value="Voi">Voi</option>
                                <option value="Wajir">Wajir</option>
                                <option value="Watamu">Watamu</option>
                                <option value="Webuye">Webuye</option>
                                <option value="Wote">Wote</option>
                                <option value="Wundanyi">Wundanyi</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="blood_type">Blood Type</label>
                            <select id="blood_type" name="blood_type" required>
                                <option value="value">Choose Blood Type</option>
                                <option value="O +">O Positive</option>
                                <option value="O -">O Negative</option>
                                <option value="A +">A Positive</option>
                                <option value="A -">A Negative</option>
                                <option value="B +">B Positive</option>
                                <option value="B -">B Negative</option>
                                <option value="AB +">AB Positive</option>
                                <option value="AB -">AB Negative</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="availability">Availability</label>
                            <select id="availability" name="availability" required>
                                <option value="one">Choose days you are available</option>
                                <option value="Any Day">Any Day</option>
                                <option value="Week Days">Week Days</option>
                                <option value="Weekends">Weekends</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" required>
                            {% if user_form.errors.password %}
                            <div class="form-error">{{ user_form.errors.password.0 }}</div>
                            {% endif %}

                        </div>

                        <div class="form-group">
                            <label for="confirm_password">Confirm password</label>
                            <input type="password" id="confirm_password" name="password2" required>
                            {% if user_form.errors.password2 %}
                            <div class="form-error">{{ user_form.errors.password2.0 }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="terms">
                        <p>By creating an account, you agree to our <a href="#"><i class="fa fa-file-text-o"></i>
                                Terms and Conditions</a> and <a href="#">Policy Privacy</a></p>
                    </div>
                    <div class="button-items">
                        <input type="submit" class="btnsubmit" value="🩸 Create Account">
                        <div>
                            <p class="already">Already have an account? <a href="#" onclick="openLoginModal()"><i
                                        class="fa fa-sign-in"></i> Login</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Emergency Modal  -->
    <div id="emergencyModal" class="modal">
        <div class="modal-content-login">
            <span class="close-modal" onclick="closeloginModal()">&times;</span>
            <div class="login">
                <div class="form-header">
                    <div class="blood-hero-badge">
                        <i class="fa fa-heart"></i>
                        Emergency Blood Request
                    </div>
                    <p>Fill out this form to request blood donation. All fields are required for emergency processing.
                    </p>
                </div>

                <form method="post">
                    {% csrf_token %}
                    <div class="form-grid">
                        <div class="form-group">
                            <label for="fname">Names</label>
                            <input type="text" id="name" name="firstname" placeholder="Your first name..." required>
                        </div>

                        <div class="form-group">
                            <label for="blood_type">Blood Type</label>
                            <select id="blood_type" name="blood_type" required>
                                <option value="value">Choose Blood Type</option>
                                <option value="o-positive">O Positive</option>
                                <option value="o-negative">O Negative</option>
                                <option value="a-positive">A Positive</option>
                                <option value="a-negative">A Negative</option>
                                <option value="b-positive">B Positive</option>
                                <option value="b-negative">B Negative</option>
                                <option value="ab-psitive">AB Positive</option>
                                <option value="ab-negative">AB Negative</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="phone_no">Phone Number</label>
                            <input type="number" id="phone_no" name="phone_no" placeholder="" required>
                        </div>

                        <div class="form-group">
                            <label for="city">City</label>
                            <select id="city" name="city" required>
                                <option value="city">Select your city</option>
                                <option value="Baragoi">Baragoi</option>
                                <option value="Bungoma">Bungoma</option>
                                <option value="Busia">Busia</option>
                                <option value="Butere">Butere</option>
                                <option value="Dadaab">Dadaab</option>
                                <option value="Diani Beach">Diani Beach</option>
                                <option value="Eldoret">Eldoret</option>
                                <option value="Emali">Emali</option>
                                <option value="Embu">Embu</option>
                                <option value="Garissa">Garissa</option>
                                <option value="Gedi">Gede</option>
                                <option value="Hola">Hola</option>
                                <option value="Homa Bay">Homa Bay</option>
                                <option value="Isiolo">Isiolo</option>
                                <option value="Kitui">Kitui</option>
                                <option value="Kibwezi">Kibwezi</option>
                                <option value="Kajiado">Kajiado</option>
                                <option value="Kakamega">Kakamega</option>
                                <option value="Kakuma">Kakuma</option>
                                <option value="Kapenguria">Kapenguria</option>
                                <option value="Kericho">Kericho</option>
                                <option value="Keroka">Keroka</option>
                                <option value="Kiambu">Kiambu</option>
                                <option value="Kilifi">Kilifi</option>
                                <option value="Kisii">Kisii</option>
                                <option value="Kisumu">Kisumu</option>
                                <option value="Kitale">Kitale</option>
                                <option value="Lamu">Lamu</option>
                                <option value="Langata">Langata</option>
                                <option value="Litein">Litein</option>
                                <option value="Lodwar">Lodwar</option>
                                <option value="Lokichoggio">Lokichoggio</option>
                                <option value="Londiani">Londiani</option>
                                <option value="Loyangalani">Loyangalani</option>
                                <option value="Machakos">Machakos</option>
                                <option value="Makindu">Makindu</option>
                                <option value="Malindi">Malindi</option>
                                <option value="Mandera">Mandera</option>
                                <option value="Maralal">Maralal</option>
                                <option value="Marsabit">Marsabit</option>
                                <option value="Meru">Meru</option>
                                <option value="Mombasa">Mombasa</option>
                                <option value="Moyale">Moyale</option>
                                <option value="Mumias">Mumias</option>
                                <option value="Muranga">Muranga</option>
                                <option value="Mutomo">Mutomo</option>
                                <option value="Nairobi">Nairobi</option>
                                <option value="Naivasha">Naivasha</option>
                                <option value="Nakuru">Nakuru</option>
                                <option value="Namanga">Namanga</option>
                                <option value="Nanyuki">Nanyuki</option>
                                <option value="Naro Moru">Naro Moru</option>
                                <option value="Narok">Narok</option>
                                <option value="Nyahururu">Nyahururu</option>
                                <option value="Nyeri">Nyeri</option>
                                <option value="Ruiru">Ruiru</option>
                                <option value="Shimoni">Shimoni</option>
                                <option value="Takaungu">Takaungu</option>
                                <option value="Thika">Thika</option>
                                <option value="Vihiga">Vihiga</option>
                                <option value="Voi">Voi</option>
                                <option value="Wajir">Wajir</option>
                                <option value="Watamu">Watamu</option>
                                <option value="Webuye">Webuye</option>
                                <option value="Wote">Wote</option>
                                <option value="Wundanyi">Wundanyi</option>
                            </select>
                        </div>
                    </div>
                    <div class="button-items">
                        <input type="submit" class="btnsubmit" value="🩸 Submit Emergency Request">
                    </div>
                </form>
            </div>
        </div>
    </div>