{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Online Blood Donation System</title>
	<link rel ="stylesheet" href="{% static 'home.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<nav class="nav-bar">
		<div class="nav-text">
			<h1>Online Blood Donation System</h1>
		</div>
		<div class="nav-link">
			<ul>
				{% comment %} <li><a href="{% url 'home' %}">Home</a></li> {% endcomment %}
				{% comment %} <li class="dropdown">
					<a href="javascript:void(0)" class="dropbtn">Login</a>
					<div class="dropdown-content">
					  <a href="{% url 'login' %}">Login as Donor</a>
					  <a href="{% url 'loginrecipient' %}">Login as Recipient</a>
					  
					</div>
				</li> {% endcomment %}
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'register' %}">Register</a></li>
				<li><a href="{% url 'login' %}">Login</a></li>
				<li><a href="{% url 'view_profiles' %}">Contact Donors</a></li>
				
				
			</ul>

        </div>
    </nav>
    <h2>
        Thank You
    </h2>
    <p>Your blood donation request has been submitted.</p>

</body>

</html>

