{% extends 'home.html' %} 
{% load static %}
{% block content %}
{% block main %}
    
{% endblock %}
<div class="learnmore_text">
  <h2>Blood Donation Eligibility</h2>
  <h3>Any healthy adult, both male and female, can donate every three months</h3>
  <div class="intro_eligibility">
  <img class="img_request" id="img_eligibility" src="{% static 'blood3.jpg' %}" alt="need of blood">
  <p>You may be wondering if you can
    donate blood. Donating blood is 
    safe and easy to do. If you're in 
    good health and meet the general 
    eligibility criteria, then you are likely able to give blood. If you meet all eligibility criteria
    below, please register today today to transform the lives of patients in need</p></div>
  <p>Good health of the donor must be fully ensured. The universally accepted criteria for donor selection are:</p>
    <div class="eligibility_list">
      <p><i class='fa fa-heart'></i>Age between 18 and 60 years</p>
      <p><i class="fa fa-heart"></i> Haemoglobin - not less than 12.5 g/Dl</p>
      <p><i class="fa fa-heart"></i> Pulse - between 50 and 100/minute with no irregularities</p>
      <p><i class='fa fa-heart'></i>Blood Pressure -Systolic 100-180 mm Hg and Diastolic 50 - 100 mm Hg</p>
      <p><i class='fa fa-heart'></i>Temperature - Normal (oral temperature not exceeding 37.50C)</p>
      <p><i class='fa fa-heart'></i>Body weight - not less than 45 Kg</p>
      </div>
    <p>Health conditions: The donor should be in a healthy state of mind and body.</p>
    
    <p>They should fulfill the following criteria:</p>
    <div class="eligibility_list">
      <p><i class='fa fa-heart'></i>Past one year - not been treated for Rabies or received Hepatitis B immune globulin.</p>
      <p><i class='fa fa-heart'></i>Past six months - not had a tattoo, ear or skin piercing or acupuncture,no serious illness or major surgery, no contact with a person with hepatitis or yellow jaundice.</p>
      <p><i class='fa fa-heart'></i> Past three months - not donated blood or been treated for Malaria.</p>
      <p><i class='fa fa-heart'></i> Past one month - had any immunizations.</p>
      <p><i class='fa fa-heart'></i> 5. Past 48 hours - taken any antibiotics or any other medications (Allopathic or Ayurveda or Sidha or Homeo)</p>
      <p><i class='fa fa-heart'></i> Past 24 hours - taken alcoholic beverages</p>
      <p><i class='fa fa-heart'></i>Past 72 hours - had dental work or taken Aspirin</p>
      <p><i class='fa fa-heart'></i>Present - not suffering from cough, influenza or sore throat, common cold</p>
      <p><i class='fa fa-heart'></i>Women should not be pregnant or breast feeding her child</p>
      <p><i class='fa fa-heart'></i>Women donor should not donate during her menstrual cycles</p>
      <p><i class='fa fa-heart'></i>Free from Diabetes, not suffering from chest pain, heart disease or high BP, cancer, blood clotting problem or blood disease, unexplained fever, weight loss, fatigue, night sweats, enlarged lymph nodes in armpits, neck or groin, white patches in the mouth etc.</p>
      <p><i class='fa fa-heart'></i>Ever had TB, bronchial asthma or allergic disorder, liver disease, kidney disease, fits or fainting, blue or purple spots on the skin or mucous membranes, received human pituitary - growth hormones etc .</p>
    </di>
</div>

<div class="center">
  <button class="first-button" onclick="window.location.href = {% url 'login'%}">DONATE NOW</button>
</div>

  {% endblock %}