{% extends 'login.html' %}  
{% block content %}
    <h1>Donate with us today</h1>  
    <p>Create a donor account today to register yourself as a potential donor and help somenone in need of blood</p>     
    <div class="signup-box">
      
      <div>
        <form action="/action_page.php">
            <p>Already have an account? <a href="{% url 'login'%}">Sign in here</a></p>
            <label for="fname">First Name</label>
            <input type="text" id="name" name="firstname" placeholder="Your first name...">
              
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..." required>

            <label for="city">Date of birth</label>
            <input type="date" id="birthday" name="birthday" required><br>
             
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="user@gmail.com" required>

          
            <label for="city">Phone Number</label>
            <input type="text" id="city" name="city" placeholder="" required>
             
            <label for="city">City</label>
            <input type="text" id="city" name="city" placeholder="Your city..." required>

            <label for="blood">Blood Type Being Requested For</label>
            <select id="blood" name="blood">
                <option value="value">Choose Blood Type</option>
                <option value="o-positive">O Positive</option>
                <option value="o-negative">O Negative</option>
                <option value="a-positive">A Positive</option>
                <option value="a-negative">A Negative</option>
                <option value="b-positive">B Positive</option>
                <option value="b-negative">B Negative</option>
                <option value="ab-psitive">AB Positive</option>
                <option value="ab-negative">AB Negative</option>
                
            </select><br>


            <label for="city">Password</label>
            <input type="text" id="city" name="city" placeholder="" required>

            <label for="city">Confirm password</label>
            <input type="text" id="city" name="city" placeholder="" required>
        
        </form>
      </div>  
      <button  class="first-button" onclick="openForm()">Sign In</button>
     <div class="policy">   
      <p>
        By clicking the Sign Up button,you agree to our 
        Terms and Condition and <a href="#">Policy Privacy</a>
      </p>
    </div>
  
  {% endblock %}